.loading-container {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 10;
}

.pulse {
  border: 3px solid #999;
  height: 30px;
  width: 30px;
  position: absolute;
  left: -15px;
  top: -15px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  @include border-radius(30px);
  @include opacity(0);
}
@-webkit-keyframes pulsate {
  0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}