@import 'compass';

body {
  font-family: 'PT Sans', sans-serif;
}
a {
  color: #678801;
  font-weight: bold;
}
p {
  font-size: 16px;
  line-height: 22px;
  overflow: hidden;
}
pre {
  font-family: Monaco, Courier, monospace;
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
  margin: 15px 0;
  font-size: 12px;
}
.button {
  font-weight: bold;
  padding: 10px 18px 9px;
  text-align: center;
  display: block;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 6px;
}
.info {
  color: #888;
  font-size: 12px;
}
.container {
  background: none;
}

.slides-navigation {
  a {
    position: absolute;
    @include border-radius(20px);
    border: 3px solid #fff;
    padding: 10px;
  }
}