$base-size: 18px 36px;
$fontAwesomePath: "/font/fontawesome-webfont";

@import 'compass';
@import 'modular-scale';
@import 'font-awesome';
@import 'formatting';
@import 'spinner';

#connect {
  z-index: 10;
  position: fixed;
  width: 100%;
  list-style: none;
  margin: 0;
  margin-left: 90px;
  padding: 20px;
  li {
    float: left;
    margin-right: 20px;
    color: white;
    span {
      display: block;
      font-size: 15px;
      text-shadow: 0 1px 1px #000;
    }
    .version {
      &:before {
        content: "v";
      }
    }
  }
}
.button {
  font-weight: bold;
  padding: 8px 12px 5px;
  text-align: center;
  display: block;
  text-decoration: none;
  background: #fff;
  @include border-radius(3px);
  @include transition(background 0.15s ease);
  position: relative;
  border-bottom: 1px solid transparent;
  &:active {
    top: 1px;
  }
  &:hover {
    background: #f1f1f1;
    border-color: white;
  }
}
.container {
  width: 40%;
  max-width: 500px;
  left: 90px;
  top: 12%;
  padding: 10px 20px;
}

.slides-navigation {
  top: 50%;
  a {
    @include border-radius(30px);
    display: block;
    text-decoration: none;
    border: 3px solid #fff;
    color: white;
    font-weight: bold;
    font-size: 26px;
    margin: 0 25px;
    text-shadow: 0 1px 1px #000;
    text-align: center;
    height: 40px;
    width: 40px;
    top: -40px;
    padding: 1px;
    @include box-shadow(0 1px 1px #000);
    @include transition(background 0.15s ease);
    &:hover {
      background: rgba(#000, 0.4);
    }
  }
}
.slides-pagination {
  a {
    width: 15px;
    height: 15px;
    margin: 5px 2px;
    border-color: white;
    @include box-shadow(0 1px 1px #000);
    &.current {
      background: white;
    }
  }
}