@import 'compass';
@import 'modular-scale';

$base-size: 16px 30px;

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a {
  color: #678801;
  font-weight: bold;
}
p {
  font-size: 16px;
  line-height: 22px;
  overflow: hidden;
}
pre {
  font-family: Monaco, Courier, monospace;
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
  margin: 15px 0;
  font-size: 12px;
}
h1 {
  font-weight: normal;
  font-weight: 300;
  color: white;
  text-shadow: 0 1px 1px #000;
}
h1 { font-size: ms(5); }
h2 { font-size: ms(4); }
h3 { font-size: ms(3); }
h4 { font-size: ms(2); }
h5 { font-size: ms(1); }
h6 { font-size: ms(0); }
.button {
  font-weight: bold;
  padding: 10px 18px 9px;
  text-align: center;
  display: block;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 6px;
}
.info {
  color: #888;
  font-size: 12px;
}
.container {
  width: 40%;
  max-width: 450px;
  left: 90px;
  top: 10%;
  padding: 10px 20px;
}

.slides-navigation {
  a {
    @include border-radius(30px);
    display: block;
    text-decoration: none;
    border: 3px solid #fff;
    color: white;
    font-weight: bold;
    padding: 2px 13px;
    font-size: 26px;
    margin: 0 25px;
    text-shadow: 0 1px 1px #000;
    text-align: center;
  }
}
.slides-pagination {
  a {
    border-color: white;
    @include box-shadow(0 1px 1px #000);
    &.current {
      background: white;
    }
  }
}