@import "compass";

// Required
#slides {
  .slides-container {
    display: none;
  }
  .scrollable {
    @include pie-clearfix;
    position: relative;
    top: 0;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
  }
}

// Optional
.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
  a {
    position: absolute;
    display: block;
    &.prev {
      left: 0;
    }
    &.next {
      right: 0;
    }
  }
}
.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
  a {
    border: 2px solid #222;
    border-radius: 15px;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 2px;
    &.current {
      background: #222;
    }
  }
}
