@import "compass";

// Required
body {
  margin: 0;
}
#slides {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  .slides-control {
    position: relative;
    @include transform3d(0);
  }
  .slides-container {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    img {
      -webkit-backface-visibility: hidden;
      -ms-interpolation-mode: bicubic;
      max-width: none;
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      &.keep-original {
        min-width: 0;
        min-height: 0;
        position: static;
      }
    }
    li {
      margin: 0;
      padding: 0;
      position: relative;
      background: none;
      &.current {
        display: block;
        z-index: 1;
      }
      .container {
        width: 55%;
        margin: 0 auto 30px auto;
        position: relative;
        top: 25%;
        min-height: 300px;
        padding: 30px;
        background: white;
        background: rgba(255, 255, 255, 0.9);
      }
    }
  }
  .scrollable {
    @include pie-clearfix;
    position: relative;
    top: 0;
    left: 0;
    overflow-y: auto;
    height: 100%;
    .container {
      @include clearfix;
    }
  }
}

.slides-navigation {
  margin: 0 auto;
  position: relative;
  z-index: 3;
  top: -50%;
  a {
    position: absolute;
    display: block;
    color: black;
    background: white;
    text-decoration: none;
    display: block;
    padding: 20px 10px;
    width: 70px;
    text-align: center;
    top: 46%;
    @include transition(padding 0.2s ease-out);
    &.prev {
      left: 0;
      @include border-right-radius(40px);
      &:hover {
        padding-left: 20px;
      }
    }
    &.next {
      right: 0;
      @include border-left-radius(40px);
      &:hover {
        padding-right: 20px;
      }
    }
  }
}

// Optional
.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
  a {
    border: 2px solid #222;
    border-radius: 15px;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 2px;
    &.active {
      background: #222;
    }
  }
}