@import "compass";

// Required
body {
  margin: 0;
}
#slides {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  .slides-control {
    position: relative;
    @include transform3d(0);
  }
  .slides-container {
    display: none;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    img {
      -webkit-backface-visibility: hidden;
      -ms-interpolation-mode: bicubic;
      min-width: 100%;
      min-height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      &.keep-original {
        min-width: 0;
        min-height: 0;
        position: static;
      }
    }
    li {
      margin: 0;
      padding: 0;
      position: relative;
      background: none;
      &.current {
        display: block;
      }
      .container {
        position: relative;
      }
    }
  }
  .scrollable {
    @include pie-clearfix;
    position: relative;
    top: 0;
    left: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    .container {
      @include clearfix;
    }
  }
}

// Optional
.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
  a {
    position: absolute;
    display: block;
    &.prev {
      left: 0;
    }
    &.next {
      right: 0;
    }
  }
}
.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
  a {
    border: 2px solid #222;
    border-radius: 15px;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 2px;
    &.current {
      background: #222;
    }
  }
}
