body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: #678801;
  font-weight: bold;
}

p {
  font-size: 16px;
  line-height: 22px;
  overflow: hidden;
}

pre {
  font-family: Monaco, Courier, monospace;
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
  margin: 15px 0;
  font-size: 12px;
}

.button {
  font-weight: bold;
  padding: 10px 18px 9px;
  text-align: center;
  display: block;
  font-size: 20px;
  text-decoration: none;
  margin-bottom: 6px;
}

.info {
  color: #888;
  font-size: 12px;
}

.container {
  background: white;
  background: rgba(255, 255, 255, 0.2);
  width: 40%;
  left: 90px;
  top: 25%;
  padding: 10px 20px;
}

.slides-navigation a {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  display: block;
  text-decoration: none;
  border: 3px solid #fff;
  color: white;
  font-weight: bold;
  padding: 2px 13px;
  font-size: 26px;
  margin: 0 25px;
  text-shadow: 0 1px 1px #000;
  text-align: center;
}
