/*
Syntax error: Invalid CSS after "}​": expected "{", was ""
        on line 24 of /Users/nic/Projects/superslides/scss/_spinner.scss
        from line 8 of /Users/nic/Projects/superslides/scss/layout.scss

Backtrace:
/Users/nic/Projects/superslides/scss/_spinner.scss:24
/Users/nic/Projects/superslides/scss/layout.scss:8
/Users/nic/.rvm/gems/ruby-1.9.3-p194@global/gems/sass-3.2.3/lib/sass/scss/parser.rb:1134:in `expected'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@global/gems/sass-3.2.3/lib/sass/scss/parser.rb:1070:in `expected'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@global/gems/sass-3.2.3/lib/sass/scss/parser.rb:1065:in `tok!'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@global/gems/sass-3.2.3/lib/sass/scss/parser.rb:520:in `block'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@global/gems/sass-3.2.3/lib/sass/scss/parser.rb:515:in `ruleset'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@global/gems/sass-3.2.3/lib/sass/scss/parser.rb:539:in `block_child'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@global/gems/sass-3.2.3/lib/sass/scss/parser.rb:532:in `block_contents'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@global/gems/sass-3.2.3/lib/sass/scss/parser.rb:70:in `stylesheet'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@global/gems/sass-3.2.3/lib/sass/scss/parser.rb:27:in `parse'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@global/gems/sass-3.2.3/lib/sass/engine.rb:342:in `_to_tree'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@global/gems/sass-3.2.3/lib/sass/engine.rb:274:in `to_tree'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@global/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:223:in `visit_import'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@global/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@global/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@global/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@global/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@global/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@global/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:107:in `block in visit_children'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@global/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:119:in `with_environment'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@global/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:106:in `visit_children'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@global/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@global/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:126:in `visit_root'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@global/gems/sass-3.2.3/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@global/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:98:in `visit'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@global/gems/sass-3.2.3/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@global/gems/sass-3.2.3/lib/sass/tree/root_node.rb:20:in `render'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@global/gems/sass-3.2.3/lib/sass/engine.rb:315:in `_render'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@global/gems/sass-3.2.3/lib/sass/engine.rb:262:in `render'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `call'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/fssm-0.2.9/lib/fssm/path.rb:73:in `run_callback'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/fssm-0.2.9/lib/fssm/path.rb:55:in `callback_action'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/fssm-0.2.9/lib/fssm/path.rb:35:in `update'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/fssm-0.2.9/lib/fssm/state/directory.rb:39:in `block in modified'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/fssm-0.2.9/lib/fssm/state/directory.rb:37:in `each'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/fssm-0.2.9/lib/fssm/state/directory.rb:37:in `modified'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/fssm-0.2.9/lib/fssm/state/directory.rb:18:in `refresh'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `each'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:15:in `loop'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/fssm-0.2.9/lib/fssm/backends/polling.rb:15:in `run'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/fssm-0.2.9/lib/fssm/monitor.rb:26:in `run'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/fssm-0.2.9/lib/fssm.rb:70:in `monitor'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/compass-0.12.2/bin/compass:44:in `call'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/bin/compass:23:in `load'
/Users/nic/.rvm/gems/ruby-1.9.3-p194@superslides/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"}​\": expected \"{\", was \"\"\A         on line 24 of /Users/nic/Projects/superslides/scss/_spinner.scss\A         from line 8 of /Users/nic/Projects/superslides/scss/layout.scss"; }
