#slides {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#slides .slides-container {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}
#slides .slides-container li {
  margin: 0;
  padding: 0;
  position: relative;
  background: none;
}
#slides .slides-container li.current {
  display: block;
  z-index: 1;
}
#slides .slides-container li img {
  -webkit-backface-visibility: hidden;
  -ms-interpolation-mode: bicubic;
  max-width: none;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
#slides .slides-container li .container {
  width: 55%;
  margin: 0 auto 30px auto;
  position: relative;
  top: 25%;
  min-height: 300px;
  padding: 30px;
  background: white;
  background: rgba(255, 255, 255, 0.9);
}

.slides-navigation {
  width: 85%;
  margin: 0 auto;
  position: relative;
  z-index: 3;
  top: -50%;
}
.slides-navigation a {
  position: fixed;
  display: block;
  color: black;
  background: white;
  text-decoration: none;
  display: block;
  padding: 20px 10px;
  width: 70px;
  text-align: center;
  top: 46%;
  -webkit-transition: padding 0.2s ease-out;
  -moz-transition: padding 0.2s ease-out;
  -ms-transition: padding 0.2s ease-out;
  -o-transition: padding 0.2s ease-out;
  transition: padding 0.2s ease-out;
}
.slides-navigation a.prev {
  left: 0;
  -moz-border-radius-topright: 40px;
  -webkit-border-top-right-radius: 40px;
  -ms-border-top-right-radius: 40px;
  -o-border-top-right-radius: 40px;
  border-top-right-radius: 40px;
  -moz-border-radius-bottomright: 40px;
  -webkit-border-bottom-right-radius: 40px;
  -ms-border-bottom-right-radius: 40px;
  -o-border-bottom-right-radius: 40px;
  border-bottom-right-radius: 40px;
}
.slides-navigation a.prev:hover {
  padding-left: 20px;
}
.slides-navigation a.next {
  right: 0;
  -moz-border-radius-topleft: 40px;
  -webkit-border-top-left-radius: 40px;
  -ms-border-top-left-radius: 40px;
  -o-border-top-left-radius: 40px;
  border-top-left-radius: 40px;
  -moz-border-radius-bottomleft: 40px;
  -webkit-border-bottom-left-radius: 40px;
  -ms-border-bottom-left-radius: 40px;
  -o-border-bottom-left-radius: 40px;
  border-bottom-left-radius: 40px;
}
.slides-navigation a.next:hover {
  padding-right: 20px;
}

.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  border: 2px solid #222;
  border-radius: 15px;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 2px;
}
.slides-pagination a.active {
  background: #222;
}
